@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Font config
*/
@font-face {
  font-family: "InstrumentSans";
  font-weight: 400;
  src: url("../../../static/fonts/InstrumentSans-Regular.ttf");
}

@font-face {
  font-family: "KumbhSans";
  font-weight: 700;
  src: url("../../../static/fonts/InstrumentSans-Bold.ttf");
}

/*
Default element styles
*/

@layer base {
  label {
    @apply text-darkGray text-sm mb-2;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    @apply border border-gray rounded-lg caret-darkPurple focus:ring-0;
  }
  textarea {
    @apply resize-none;
  }
}

/*
Custom classes
*/
@layer components {
  .heading-m {
    @apply text-[32px] leading-[150%];
  }
  .heading-s {
    @apply text-base leading-[150%];
  }
  .body-m {
    @apply text-base leading-[150%];
  }
  .body-s {
    @apply text-xs leading-[150%];
  }
  .btn-primary {
    @apply p-3 text-white bg-darkPurple rounded-lg hover:bg-purple hover:cursor-pointer disabled:opacity-50 disabled:hover:cursor-not-allowed disabled:hover:bg-darkPurple;
  }
  .btn-secondary {
    @apply p-3 text-darkPurple bg-white rounded-lg border border-darkPurple hover:bg-lightPurple hover:cursor-pointer disabled:opacity-50 disabled:hover:cursor-not-allowed disabled:hover:bg-white;
  }
  .test-border {
    @apply border-2 border-red;
  }
}

/*
Main layout
*/

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, 64px) 1fr;
  min-height: 100vh;
}

.errorlist > li {
  color: #ff3939;
  font-size: 0.8rem;
}

/* Insert icons into form elements */
.form-input {
  position: relative;
  > svg {
    position: absolute;
    top: 0.85rem;
    left: 0.625rem;
  }
  > input {
    padding-left: 2rem;
  }
}

.form-select {
  position: relative;
  .select-option {
    position: relative;
  }
  .select-icon {
    position: absolute;
    top: 2px;
    left: 0rem;
  }
  .select-text {
    padding-left: 1.5rem;
  }
}

/* Blurred focus border on form elements */
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: rgba(190, 173, 255, 0.25) 0px 54px 55px,
    rgba(190, 173, 255, 0.12) 0px -12px 30px,
    rgba(190, 173, 255, 0.12) 0px 4px 6px,
    rgba(190, 173, 255, 0.17) 0px 12px 13px,
    rgba(190, 173, 255, 0.09) 0px -3px 5px;
  border: 1px solid #633cff;
  cursor: pointer;
}
